.content-container {
  height: 100%;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.empty-content {
  height: 100%;
  justify-content: center;
}

.tab-content {
}
